@import 'https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css';
@import 'https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css';
@import 'https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css';
@import 'https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css';
@import 'L.Control.Sidebar.css';
@import 'angular-advanced-searchbox.css';
@import 'l.geosearch.css';

body md-toolbar {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

#sidebar h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}